form {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	box-shadow: 2px 2px 30px 11px rgba(255, 255, 255, 0.3);
	input[type="radio"] {
		display: none;
	}
	input#postalCode {
		width: 80px;
		margin-left: 20px;
	}
	.userSelection {
		margin: 0 auto;
		height: 50px;
	}
	.selectPrice {
		 label {
			padding: 15px;
			margin: 20px;
			border: 5px solid $primary;
			box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
			position: relative;
			top: 0px;
			transition: all 0.5s;
    }
    label:active {
      top: 3px;
      box-shadow: 0px 5px 5px $primary;
    }
    label:hover {
      border: 5px solid $primary;
      color: grey;
    }
  }
  input[type=radio]:checked ~ label {
    border: 5px solid transparent;
  }
  .selectDrink {
    label {
      padding: 15px;
    }
    label img {
      max-width: 75px;
      margin-bottom: 20px;
      padding: 10px;
			border: 5px solid $primary;
			box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
			position: relative;
			top: 0px;
			transition: all 0.5s;
    }
    label img:active {
      top: 3px;
      box-shadow: 0px 5px 5px $primary;
    }
    label:visited {
      border: 1px solid $red;
    }
    }
  }
	input[type=submit] {
    border: 5px solid $primary;
    margin: 42px 0px 10px;
    &:hover {
      border: 5px solid black;
    }
  }
}