form {
  width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	input[type="radio"] {
    display: none;
  }
  .userInput label {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
  }
	input#postalCode {
    width: 100px;
    margin-left: 5px;
    border: 2px solid $primary;
  }
  label[for="postalCode"] {
    box-shadow: none;
  }
	.userSelection {
		margin: 0 auto;
		display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .selectCity {
    padding-bottom: 15px;
  }
  label {
    border: 5px solid transparent;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
  }    
  .selectPrice label {
    @include fontSize(20);
    line-height: 40px;
    @media (min-width: 640px) {
    }
  } 
  .selectDrink label,
  .selectPrice label {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    border: 5px solid transparent;
    flex-basis: calc(50% - 30px);
    margin: 15px;
    padding: 10px;
    height: 80px;
    @media (min-width: 640px) {
      min-width: 80px;
      flex-basis: 0;
      margin: 5px 25px;
      line-height: 40px;
    }
  } 
  .selectPrice input[type="radio"]:checked+label,
  .selectDrink input[type="radio"]:checked+label  {
    border: 5px solid $primary;
  }
  label img {
    max-width: 50px;
  }
}
input[type=submit] {
  border: 5px solid transparent;
  margin: 42px 0px 10px;
  padding: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  &:hover {
    border: 5px solid $primary;
  }
}