form {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	input[type="radio"] {
		display: none;
	}
	input#postalCode {
		width: 80px;
		margin-left: 20px;
	}
	.userSelection {
		margin: 0 auto;
		height: 50px;
  }
  .selectCity {
    padding-bottom: 15px;
  }
	.selectPrice {
		 label {
			padding: 15px;
			margin: 20px;
			border: 5px solid $primary;
			box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
			top: 0px;
      transition: all 0.5s;
    }
    label:active {
      top: 3px;
      box-shadow: 0px 5px 5px $primary;
    }
    label:hover {
      border: 5px solid $#DCDCDC;
    }
  }
  input[type=radio]:checked {
    border: 5px solid black;
  }
  .selectDrink {
    label {
      padding: 0px 15px;
    }
    label img {
      max-width: 75px;
      padding: 10px;
			border: 5px solid $primary;
			box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
			top: 0px;
			transition: all 0.5s;
    }
    label img:active {
      top: 3px;
      box-shadow: 0px 5px 5px $primary;
    }
    label img:hover {
      background-color: #DCDCDC;
    }
  }
}
input[type=submit] {
  border: 5px solid $primary;
  margin: 42px 0px 10px;
  padding: 10px;
  &:hover {
    border: 5px solid black;
  }
}
@media (max-width: 420px) {
  form {
    max-width: 90%;
    .selectDrink {
      label {
        padding: 5px;
      }
    }
  }
}