section.result {   
    .results-container {
        margin: 0 auto;
        padding-bottom: 100px;
        @media (min-width: 1000px) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .userResult {
                width: 30%;
            }
        }   
    } 
}    
section.result {
    h2 {
        @include fontSize(20);
        margin-top: 25px;      
    }
    .results-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 680px) {
            display: flex;
            flex-wrap: row wrap;            
        }
        .userResult {
            margin: 0 auto;
            width: 100%;
            padding: 10px 0;
        }
        h4 {
            text-align: center;
            @include fontSize(14);
        }
        h2 {
            @include fontSize(15);
            text-align: center;  
            @include fontSize(14);
            text-align: center;    
            font-weight: normal;  
            @media (min-width: 1000px) {
                @include fontSize(18);
            }  
        }
        p.userPrice {
            text-align: center;
            font-weight: bold;
        }
        img {
        max-width: 250px;
        display: block;
        margin: 0 auto;
        border: 10px solid black;
        }
    }
}