section.result {   
    .results-container {
        margin: 0 auto;
        @media (min-width: 680px) {
            display: flex;
            justify-content: space-between;
            width: 30%;
        }
        h4 {
            @include fontSize(14);
            text-align: center;    
            font-weight: normal;    
        }
        p.userPrice {
            text-align: center;
            font-weight: bold;
        }
        img {
        max-width: 250px;
        display: block;
        margin: 0 auto;
        border: 10px solid black;
        }
    }
}