@mixin fontSize($scale) {
	font-size: $scale * 1px;
	font-size: ($scale / 10) * 1rem;
}
$primary: #da810f;

@import 'setup';
@import 'form';
@import 'results';

html {
	font-size: 62.5%;
}
body {	
	@include fontSize(16);	
}

header {
	background: black;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 30px;

	img.hero-img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		max-height: 200px;
	}

}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	max-height: 200px;

}

form {
	margin: 0 auto;
}

h2 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin: 0px;
	@include fontSize(22);
	padding: 30px 0px 10px;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.formInfo {
	padding-bottom: 15px;
	h3 {
		@include fontSize(24);
		margin: 15px 0px 10px;
		padding: 15px 20px 10px;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	}
}

h5 {
	@include fontSize(18);
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	@media (min-width: 1000px) {
		max-width: 60%;		
	}
}
.formInfo {
	padding-bottom: 15px;
	h3 {
		@include fontSize(20);
		margin: 15px 0px 10px;
		padding: 15px 20px 10px;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	}
}
h5 {
	@include fontSize(20);
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
footer {
	margin: 15px;
	p {
		@include fontSize(16);
		text-align: center;
		margin: 5px;
	}
	a {
		text-decoration: none; 
		color: black;
		font-weight: bold;
	}
	a:hover {
		color: $primary;
	}
}

.wrapper {
	@media (min-width: 1000px) {
		max-width: 1000px;
		margin: 0 auto;
	}
}
