article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }
  form input[type="radio"] {
    display: none; }
  form .userInput label {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  form input#postalCode {
    width: 100px;
    margin-left: 5px; }
  form label[for="postalCode"] {
    -webkit-box-shadow: none;
            box-shadow: none; }
  form .userSelection {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  form .selectCity {
    padding-bottom: 15px; }
  form label {
    margin: 10px;
    padding: 10px;
    border: 5px solid transparent;
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  form .selectDrink label {
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: 5px solid transparent;
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin: 15px;
    padding: 10px; }
  form .selectPrice input[type="radio"]:checked + label,
  form .selectDrink input[type="radio"]:checked + label {
    border: 5px solid #da810f; }
  form label img {
    max-width: 50px; }

input[type=submit] {
  border: 5px solid transparent;
  margin: 42px 0px 10px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3); }
  input[type=submit]:hover {
    border: 5px solid #da810f; }

section.result .results-container {
  margin: 0 auto; }
  @media (min-width: 680px) {
    section.result .results-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 30%; } }
  section.result .results-container h4 {
    font-size: 14px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: normal; }
  section.result .results-container p.userPrice {
    text-align: center;
    font-weight: bold; }
  section.result .results-container img {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px solid black; }

body header {
  background-color: black;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  body header img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    max-height: 200px; }

body form {
  margin: 0 auto; }

body h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 0px;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }

body .formInfo {
  padding-bottom: 15px; }
  body .formInfo h3 {
    font-size: 20px;
    font-size: 2rem;
    margin: 0px;
    padding: 15px 20px 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }

body h5 {
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

body .selectPrice h2 {
  margin-bottom: 20px; }

.selectPrice h2 {
  margin-bottom: 20px; }
